body {
    background-color: #6495ED;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}


.logo {
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}



button {
    background-color: #007bff;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}



button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}


a {
    color: #007bff;
    text-decoration: none;
}




a:hover {
    text-decoration: underline;
}